<p id="notice"><%= notice %></p>
  <h1>
    <%= @club_decorator.display_name %>
  </h1>

<section class="wrapper">
  <%= image_tag @club.logo, size: "250x250" %>

  <div>
    <p>
     <strong><%= @club_decorator.display_homebase %></strong>
    </p>

    <p>
     <strong><%= @club_decorator.display_established_on %></strong>
    </p>

    <p>
      <strong><%= @club_decorator.display_manager %></strong>
    </p>

    <p>
      <strong><%= @club_decorator.display_results %></strong>
    </p>

    <p>
      <strong><%= @club_decorator.display_players_average_age %></strong>
    </p>

  </div>
</section>

<section>
  <p>
    <h1>Players:</h1>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>position</th>
          <th>country</th>
          <th>age</th>
          <th>birthday</th>
        </tr>
      </thead>
      <tbody>
        <% @club.players.each do |player| %>
          <tr>
            <td><%= "#{player.firstname} #{player.lastname}" %></td>
            <td><%= player.position %></td>
            <td><%= player.country %></td>
            <td><%= player.age %></td>
            <td><%= player.birthday %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
</section>

<%= link_to 'Back To Match Results', matches_path %>
